<template>
  <require from="filters/profile-id"></require>

  <section>
    <h2>${person.name}</h2>
    <table class="table table-striped">
      <tr>
        <td>Height</td>
        <td>${person.height}</td>
      </tr>
      <tr>
        <td>Weight</td>
        <td>${person.mass}</td>
      </tr>
      <tr>
        <td>Hair Color</td>
        <td>${person.hair_color}</td>
      </tr>
      <tr>
        <td>Skin Color</td>
        <td>${person.skin_color}</td>
      </tr>
      <tr>
        <td>Eye Color</td>
        <td>${person.eye_color}</td>
      </tr>
      <tr>
        <td>Birth Year</td>
        <td>${person.birth_year}</td>
      </tr>
      <tr>
        <td>Gender</td>
        <td>${person.gender}</td>
      </tr>
      <tr>
        <td>Home Planet</td>
        <td>
          <a repeat.for="homeworld of person.homeworldinfo"
             href="${homeworld.link | profileId:'planet'}">${homeworld.name}</a>
        </td>
      </tr>
      <tr>
        <td>Films</td>
        <td>
          <ul>
            <li repeat.for="film of person.filmsinfo">
              <a href="${film.link | profileId:'movie'}">${film.name}</a>
            </li>
          </ul>
        </td>
      </tr>
      <tr>
        <td>Species</td>
        <td>
          <ul>
            <li repeat.for="specie of person.speciesinfo">
              <a href="${specie.link | profileId:'specie'}">${specie.name}</a>
            </li>
          </ul>
        </td>
      </tr>
      <tr>
        <td>Vehicles</td>
        <td>
          <ul>
            <li repeat.for="vehicle of person.vehiclesinfo">
              <a href="${vehicle.link | profileId:'vehicle'}">${vehicle.name}</a>
            </li>
          </ul>
        </td>
      </tr>
      <tr>
        <td>Starships</td>
        <td>
          <ul>
            <li repeat.for="starship of person.starshipsinfo">
              <a href="${starship.link | profileId:'starship'}">${starship.name}</a>
            </li>
          </ul>
        </td>
      </tr>
    </table>
  </section>
</template>
