<template>
  <require from="filters/profile-id"></require>
  <section>
    <h2>${planet.name}</h2>
    <table class="table table-striped">
      <tr>
        <td>Rotation period</td>
        <td>${planet.rotation_period}</td>
      </tr>
      <tr>
        <td>Orbital period</td>
        <td>${planet.orbital_period}</td>
      </tr>
      <tr>
        <td>Diameter</td>
        <td>${planet.diameter}</td>
      </tr>
      <tr>
        <td>Climate</td>
        <td>${planet.climate}</td>
      </tr>
      <tr>
        <td>Gravity</td>
        <td>${planet.gravity}</td>
      </tr>
      <tr>
        <td>Terrain</td>
        <td>${planet.terrain}</td>
      </tr>
      <tr>
        <td>Surface Water</td>
        <td>${planet.surface_water}</td>
      </tr>
      <tr>
        <td>Population</td>
        <td>${planet.population}</td>
      </tr>
      <tr>
        <td>Residents</td>
        <td>
          <ul>
            <li repeat.for="resident of planet.residentsinfo">
              <a href="${resident.link | profileId:'person'}">${resident.name}</a>
            </li>
          </ul>
        </td>
      </tr>
      <tr>
        <td>Films</td>
        <td>
          <ul>
            <li repeat.for="movie of planet.filmsinfo">
              <a href="${movie.link | profileId:'movie'}">${movie.name}</a>
            </li>
          </ul>
        </td>
      </tr>
    </table>
  </section>
</template>
