<template>
  <require from="filters/profile-id"></require>
  <section>
    <h2>${starship.name}</h2>
    <table class="table table-striped">
      <tr>
        <td>Model</td>
        <td>${starship.model}</td>
      </tr>
      <tr>
        <td>Manufacturer</td>
        <td>${starship.manufacturer}</td>
      </tr>
      <tr>
        <td>Cost in credits</td>
        <td>${starship.cost_in_credits}</td>
      </tr>
      <tr>
        <td>Length</td>
        <td>${starship.length}</td>
      </tr>
      <tr>
        <td>Max atmosphering speed</td>
        <td>${starship.max_atmosphering_speed}</td>
      </tr>
      <tr>
        <td>Crew</td>
        <td>${starship.crew}</td>
      </tr>
      <tr>
        <td>Passengers</td>
        <td>${starship.passengers}</td>
      </tr>
      <tr>
        <td>Cargo capacity</td>
        <td>${starship.cargo_capacity}</td>
      </tr>
      <tr>
        <td>Consumables</td>
        <td>${starship.consumables}</td>
      </tr>
      <tr>
        <td>Hyperdrive rating</td>
        <td>${starship.hyperdrive_rating}</td>
      </tr>
      <tr>
        <td>MGLT</td>
        <td>${starship.MGLT}</td>
      </tr>
      <tr>
        <td>Starship Class</td>
        <td>${starship.starship_class}</td>
      </tr>
      <tr>
        <td>Residents</td>
        <td>
          <ul>
            <li repeat.for="pilor of starship.pilotsinfo">
              <a href="${pilor.link | profileId:'person'}">${pilor.name}</a>
            </li>
          </ul>
        </td>
      </tr>
      <tr>
        <td>Films</td>
        <td>
          <ul>
            <li repeat.for="movie of starship.filmsinfo">
              <a href="${movie.link | profileId:'movie'}">${movie.name}</a>
            </li>
          </ul>
        </td>
      </tr>
    </table>
  </section>
</template>
