<template>
  <require from="filters/profile-id"></require>

  <section class="au-animate">
    <h2>${heading}</h2>

    <table class="table table-striped">
      <thead>
      <tr>
        <th>Name</th>
      </tr>
      </thead>
      <tbody>
      <tr repeat.for="vehicle of vehicles">
        <td>
          <a href.bind="vehicle.url | profileId:'vehicle'">${vehicle.name}</a>
        </td>
      </tr>
      </tbody>
    </table>

  </section>
</template>
